.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Auto-fill columns of at least 250px wide
  grid-template-rows: auto auto auto auto; // Define rows explicitly if needed
  grid-column-gap: 30px;
  align-items: start;
  margin-top: 15px;

  .form-field {
    width: 100%; // Full width
    // margin-bottom: 15px; // Space between form fields
  }

  .toggle-container {
    grid-column: span 4; // Span across all columns
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Layout for toggle switches
    grid-gap: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

