// .form-container {
//   display: flex;
//   flex-direction: column;
//   width: 15%;
// }

// .form-field {
//   margin-bottom: 1rem;
// }

// mat-slide-toggle {
//   margin: 8px 0;
//   display: block;
// }


.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Auto-fill columns of at least 250px wide
  grid-template-rows: auto auto auto auto; // Define rows explicitly if needed
  grid-column-gap: 50px;
  align-items: start;
  margin-top: 15px;

  .form-field {
    width: 100%; // Full width
    // margin-bottom: 15px; // Space between form fields
  }

  .toggle-container {
    grid-column: span 4; // Span across all columns
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Layout for toggle switches
    grid-gap: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

