<mat-toolbar class="toolbar">
	<div (click)="toggle()" class="btn">
		<div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
		<div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
		<div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
	</div>

  <span class="brand">Intelli</span><span class="logo">V</span>
  <span class="spacer"></span>
  <button mat-button matTooltip="Select a model" [matMenuTriggerFor]="dropdownMenu">
    <mat-icon class="model">arrow_drop_down</mat-icon>
    <span class="mdc-button__label model">{{selected_model.label}}</span>
  </button>
  <mat-menu #dropdownMenu="matMenu">
    <button mat-menu-item *ngFor="let model of models" [value]="model.name" 
    (click)="onModelSelection(model)">
      {{ model.label }}
    </button>
  </mat-menu>

</mat-toolbar>

<mat-sidenav-container class="container" hasBackdrop="false" autosize>
	<mat-sidenav #sidenav class="sidenav" mode="side" [opened]="opened">
		<mat-nav-list>
			<a mat-list-item [class]="homeLink" routerLink="">
				<mat-icon id="home" [class]="homeIcon" mat-list-icon matTooltip="Home" 
				matTooltipPosition="right" (click)="onClick($event)">home</mat-icon>
			</a>

			<a mat-list-item [class]="settingsLink" routerLink="settings">
				<mat-icon id="settings" [class]="settingsIcon" 
				mat-list-icon matTooltip="Settings" matTooltipPosition="right" 
				(click)="onClick($event)">settings</mat-icon>
			</a>

      <a mat-list-item [class]="aboutLink" routerLink="about">
				<mat-icon id="about" [class]="aboutIcon" mat-list-icon 
				matTooltip="About" matTooltipPosition="right" 
				(click)="onClick($event)">info</mat-icon>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="sidenav-content background">
		<router-outlet></router-outlet>
	</mat-sidenav-content>   
</mat-sidenav-container>