<mat-stepper linear #stepper>
    <mat-step label="Pick a location">
        <app-location-picker (isPicked)="handleLocationPick($event)"></app-location-picker>
        <br/>
        <div>
          <button mat-button color="primary" [disabled]="!isLocationPicked" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Select a property type">
        <app-property-type (type)="handleTypeSelection($event)"></app-property-type>
        <div>
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-button color="primary" [disabled]="!isTypeSelected" matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Provide more details">
        <app-property-details [propertyTypeValue]="propertyTypeValue" (valid)="handleDetailsEdit($event)"></app-property-details>
        <div>
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" [disabled]="!isValidDetails" (click)="predict()">Submit</button>
        </div>
    </mat-step>
    <mat-step label="Result">
      <fieldset class="mat-form-fieldset">
        <legend class="mat-form-legend">Estimated Value</legend>
        <div class="grid-container">
          <ngx-skeleton-loader *ngIf="isLoading" [theme]="{ 'width': '100%', 'height': '30px', 'vertical-align': '-webkit-baseline-middle'}">
          </ngx-skeleton-loader>
          <p *ngIf="!isLoading" class="price">SAR {{ price | number:'1.2-2' }}</p>
        </div>
      </fieldset>

      <br/>  
      <fieldset class="mat-form-fieldset">
        <legend class="mat-form-legend">Nearby Services</legend>
        <div class="grid-container">
          <ngx-skeleton-loader *ngIf="isLoading" [theme]="{ 'width': '100%', 'height': '160px', 'vertical-align': '-webkit-baseline-middle'}">
          </ngx-skeleton-loader>
          <ul *ngIf="!isLoading" class="services">
              <li *ngFor="let neighbour of neighbours | keyValue">
                  <mat-icon *ngIf="getIcon(neighbour.key) !== 'custom'; else customIcon" class="placeIcon">{{getIcon(neighbour.key)}}</mat-icon>            
                  <ng-template #customIcon>
                      <span></span>
                      <mat-icon svgIcon="{{neighbour.key}}"></mat-icon>
                  </ng-template>
                  {{ neighbour.key | formatPlace }} {{ neighbour.value }}
              </li>
          </ul>
        </div>
      </fieldset>
      <!-- <app-loading *ngIf="isLoading"></app-loading> -->
      <br/>
      <div>
        <button mat-button [disabled]="isLoading" color="primary" matStepperPrevious>Back</button>
        <button mat-button [disabled]="isLoading" color="primary" (click)="reset()">Reset</button>
      </div>
    </mat-step>
</mat-stepper>

