.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.result {
  padding-bottom: 15px;
}

.grid-container ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Creates a 36column grid */
  list-style-type: none; /* Removes bullet points */
}

.grid-container li {
  text-align: left; /* Center-aligns the text */
}

.price {
  color: rgba(103, 58, 183, 1);
  font-weight: bold;
  font-size: large;
}

.services {
  list-style-type: none;
  padding-inline-start: 0px;
}

.placeIcon {
  vertical-align: sub;
}

.mat-form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.mat-form-legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.price-label {
    font-weight: bold;
}
